body, html {
  height: 100%;
}

.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #f8b400;
}

footer {
  background-color: #343a40;
}

.form-control {
  border-radius: 25px;
}

.btn-primary {
  background-color: #f8b400;
  border-color: #f8b400;
}

.btn-primary:hover {
  background-color: #ffc107;
  border-color: #ffc107;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

header h1 {
  animation: fadeIn 1s ease-in-out;
}

header p {
  animation: slideIn 1s ease-in-out;
}

form {
  animation: slideIn 1s ease-in-out;
}
